QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }
QPushButton { font-family: "Icons South St" }


